img {
    height: 100%;
}

.myList {
    background-color: #111;
    height: 100vh;
    .emptyListMessage {
        color: whitesmoke;
        // width: 80%;
        width: 500px;
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
        padding-top: 15rem;
        font-weight: 500;

        :visited {
            color: white;
        }
    }

    .myList-posters {
        display: grid;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        background-color: rgba(0, 0, 0, 0.952);
        padding-block: 6em;
        row-gap: 0.7em;
        padding-right: 1em;
        animation: fadein 0.5s;
        .myList-poster {
            margin-left: 2em;
            width: 200px;
            height: 310px;
            border-radius: 10px;
            cursor: pointer;
            transition: transform 0.25s;
        }

        :hover {
            transform: scale(1.02);
        }
    }
}
/* FadeIn Animation */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
