.row-title {
    margin-left: 0.8em;
    font-size: 1.3em;
    font-weight: 500;
}
.row {
    color: white;
}

.row-posters {
    width: 100vw;
    display: flex;
    padding: 1em;

    overflow-y: hidden;
    overflow-x: scroll;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

.row-posters {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* .spinner-container {
    width: 100vw;
    height: 448px;
    background-color: #111;
    display: grid;
    place-content: center;
} */
