@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    transition: all 0.2s ease-out;
}

.movieScreen {
    /* font-family: sans-serif; */
    /* background-color: orange; */
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #020202;

    width: 100%;
    height: 100vh;
    background: url("https://s3.us-east-2.amazonaws.com/getflix-pro/landing.jpg")
        center/cover no-repeat;
    object-fit: contain;

    position: fixed;
}
.movie-container {
    background-color: #020202e7;
    padding: 1.5em;
    color: rgba(255, 255, 255, 0.986);
    /* width: 95%; */
    max-width: 900px;

    display: flex;
    margin: 0 auto;
    border-radius: 3px;
}
.movie-container > * {
    margin-inline: 1.6em;
}

.movie-poster {
    width: 35%;
    /* max-height: 500px; */
}
.movie-details {
}
.movie-header {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}

.movie-release {
    display: flex;
    justify-content: space-between;
    font-size: 0.65em;
    font-weight: 500;
    color: gray;
    margin-top: 0.7em;
    margin-bottom: 2.5em;
    max-width: 150px;
}

.movie-release-year,
.movie-duration {
    border-right: 2px solid gray;
    padding-right: 1.4em;
}
.movie-duration,
.movie-age {
    padding-left: 1.4em;
}

.overview,
.screenshots-title {
    font-weight: 600;
    margin-bottom: 2em;
}

.movie-infos {
}
.movie-rating {
    font-size: 1em;
    padding-top: 0.4em;
}

.movie-rating > * {
    margin-inline: 0.2em;
}
.fa-star {
    color: yellow;
}
.movie-title {
    font-family: "Montserrat";
    font-size: 1.5em;
    font-weight: 500;
    max-width: 300px;
}

.movie-short-resume {
    font-family: "Montserrat";
    font-size: 0.7em;
    letter-spacing: 0.02em;
    line-height: 1.7em;
}

.movie-casting {
    margin-top: 2em;
    display: grid;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
    grid-template-columns: 1fr 3fr;
    font-family: "Montserrat";
    font-size: 0.65em;
}
.gray {
    color: gray;
    font-weight: 500;
}
.genres {
    /* font-style: italic; */
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.05em;
    font-variant: small-caps;
}
.screenshots-title {
    margin-block: 2em;
    font-weight: 400;
}

.screenshots {
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
}
.img-container {
    width: 32%;
    border-radius: 2px;
    margin-right: 0.5em;
}
.img-container img {
    width: 100%;
    height: 100px;
    border-radius: 1px;
    object-fit: cover;
    /* transition: transform 0.3s ease-out; */
    /* transition: width 0.1s; */
}
.img-container:hover {
    width: 110%;
}

/* =======Media Queries====== */
@media all and (max-width: 490px) {
    .movieScreen {
        height: 100%;
    }
    .movie-container {
        /* margin-top: 100px; */
        flex-direction: column;
        padding: 2em 0;
        overflow-y: scroll;
    }
    .screenshots {
        /* display: none; */
        /* background-color: red; */
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
    .screenshots > * {
        width: 100%;
        margin-bottom: 0.5em;
    }
    .screenshots img {
        height: 150px;
        border-radius: 5px;
    }
    .movie-poster {
        width: 70%;
        margin-inline: auto;
        margin-block: 4em 1.5em;
    }

    .movie-header {
        justify-content: space-around;
    }
    .movie-title {
        font-size: 1em;
        max-width: 170px;
    }

    .movie-casting {
        /* padding-bottom: 2em; */
        margin-bottom: 2em;
    }
}

/* ======on Tablet ========= */
@media all and (min-width: 490px) and (max-width: 890px) {
    .screenshots,
    .screenshots-title {
        /* display: none; */
    }

    .movie-release {
        margin-bottom: 1em;
    }
    .movie-container > * {
        margin-inline: 0.8em;
    }
    .overview {
        margin-bottom: 1em;
    }
    .movie-casting {
        margin-top: 1em;
    }
    .screenshots img {
        height: 100px;
    }
}

@media all and (min-width: 490px) and (max-width: 600px) {
    .movie-release {
        margin-bottom: 1em;
    }
    .movie-container > * {
        margin-inline: 0.6em;
    }
    .overview {
        margin-bottom: 1em;
    }
    .movie-casting {
        margin-top: 1em;
    }
}
