img {
    height: 100%;
}

.myList {
    color: whitesmoke;
    background-color: #111;
    height: 100vh;
    .emptyListMessage {
        color: whitesmoke;
        // width: 80%;
        width: 500px;
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
        padding-top: 15rem;
        font-weight: 500;

        :visited {
            color: white;
        }
    }

    .myList-posters {
        display: grid;
        place-items: center;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        background-color: rgba(0, 0, 0, 0.849);
        row-gap: 1em;
        animation: fadein 0.5s;
        padding: 2rem;
        padding-top: 6rem;

        .poster-container {
            padding: 0;
            margin: 0;
            width: 100%;
            transition: transform 0.2s;
            cursor: pointer;
            border-radius: 40px;
            position: relative;

            &:hover > .fa-trash-alt,
            &:hover > .movie-infos {
                visibility: visible;
            }

            .movie-infos {
                font-size: 0.8em;
                letter-spacing: 0.05em;
                font-weight: 400;
                background-image: linear-gradient(
                    to top,
                    rgba(0, 0, 0, 1),
                    80%,
                    rgba(0, 0, 0, 0.1)
                );
                padding-inline: 1.8em;
                padding-block: 1em;
                width: 100%;
                max-width: 203px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                bottom: 0.3em;
                left: 1em;
                .movie-title {
                    font-size: 0.9em;
                    font-weight: 400;
                    max-width: 60%;
                }
                .movie-rating {
                    padding: 0;
                    height: 100%;
                    line-height: 100%;
                }
            }
        }

        .poster-container img {
            max-height: 300px;
            width: 230px;
            border-radius: 24px;
        }
    }
}
.fa-trash-alt {
    background-color: #0202029b;
    color: whitesmoke;
    padding: 0.4em;
    border-radius: 50%;
    position: absolute;
    top: 0.6em;
    right: 0.8em;
    visibility: hidden;
}
.tooltip {
    color: white;
    margin-right: 0.3em;
}

/* FadeIn Animation */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media queries */
@media all and (max-width: 490px) {
    .myList {
        .myList-posters {
            padding-top: 25rem;
            display: grid;
            grid-template-columns: repeat(2, 174px);
            place-content: center;
            row-gap: 1.5em;
            .poster-container {
                position: relative;
                width: 140px;

                .myList-poster {
                    width: 100%;
                    margin: 0;
                    object-fit: cover;
                    max-height: 200px;
                    border-radius: 0.7em;
                }

                .movie-infos {
                    left: 0;
                    padding-inline: 1em;
                }
            }
        }
    }
}
@media all and (min-width: 491px) and (max-width: 680px) {
    .myList {
        .myList-posters {
            padding-top: 10rem;
            display: grid;
            grid-template-columns: repeat(3, 174px);
            place-content: center;
            row-gap: 1.5em;
            .poster-container {
                position: relative;
                width: 160px;

                .myList-poster {
                    width: 100%;
                    margin: 0;
                    object-fit: cover;
                    max-height: 200px;
                    border-radius: 0.7em;
                }

                .movie-infos {
                    left: 0;
                    padding-inline: 1em;
                }
            }
        }
    }
}
